{% extends "layout/base-login.html" %}
{% block content %}
{% load static %}
<nav class="navbar navbar-expand-lg mb-4 top-bar navbar-static-top sps sps--abv">
	<div class="container">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
			data-target="#navbarCollapse1" aria-controls="navbarCollapse" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand mx-auto pr-4 pl-3" href="#"><img height="100" width="100"
				src="{% static  'assets/images/icon/custom2.png' %}" alt="logo"> T<span>avi</span></a>
		<div class="collapse navbar-collapse" id="navbarCollapse1">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active"> <a class="nav-link" href="#myCarousel">Home <span
							class="sr-only">(current)</span></a> </li>
				<li class="nav-item"> <a class="nav-link" href="#benefits">Benefits</a> </li>
				<li class="nav-item"> <a class="nav-link" href="#about">About</a> </li>
				<li class="nav-item"> <a class="nav-link" href="#contact">Contact</a> </li>
				{% if userId == None %}
				<li class="nav-item"> <a class="nav-link" href="/login">Login</a> </li>
				{% endif %}
				{% if userId != None %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"><i class="ti-user"></i> {{ userName }}</a>
					<div class="dropdown-menu" aria-labelledby="dropdown04">
						<a class="dropdown-item" href="/dashboard">Dashboard</a>
						<a class="dropdown-item" href="/logout">Logout</a>
					</div>
				</li>
				{% endif %}
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-12 text-center">
			{% if messages %}
			<div class="span12 message">
				{% for message in messages %}
				<div class="alert {{ message.tags }}">
					{{ message|safe }}
				</div>
				{% endfor %}
			</div>
			{% endif %}
		</div>
	</div>
</nav>


<!-- Swiper Silder
================================================== -->
<!-- Slider main container -->
<div class="swiper-container main-slider" id="myCarousel">
	<div class="swiper-wrapper">
		<div class="swiper-slide slider-bg-position"
			style="background:url('{% static  'assets/images/orange_farm.jpg' %}')" data-hash="slide1">
			<h2 style="background-color: rgba(0, 0, 0, 0.7);" class="p-5">Assure fruit quality for satisfied customers
			</h2>
		</div>
		<div class="swiper-slide slider-bg-position"
			style="background:url('{% static  'assets/images/cocoa_farm.jpg' %}')" data-hash="slide2">
			<h2 style="background-color: rgba(0, 0, 0, 0.7);" class="p-5">Automatic Grading of large scale produced
				fruits</h2>
		</div>
	</div>
	<!-- Add Pagination -->
	<div class="swiper-pagination"></div>
	<!-- Add Navigation -->
	<div class="swiper-button-prev"><i class="fa fa-chevron-left"></i></div>
	<div class="swiper-button-next"><i class="fa fa-chevron-right"></i></div>
</div>

<!-- Benefits
================================================== -->
<section class="service-sec" id="benefits">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="heading">
					<h2><small>Benefits of Automated Visual Inspection</small>To improve the quality of your fruits
						offered, you must upgrade</h2>
				</div>
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-6 text-sm-center service-block"> <i class="fa fa-plus" aria-hidden="true"></i>
						<h3>Faster Turnaround Times</h3>
						<p>An AVI can easily perform a complete product check in a shorter amount of time compared to a
							manual inspection, thereby decreasing the final turnaround time.</p>
					</div>
					<div class="col-md-6 text-sm-center service-block"> <i class="fa fa-leaf" aria-hidden="true"></i>
						<h3>Decreased Errors</h3>
						<p>Having automated
							product inspections automated may help remove or at least
							reduce the chances of inspection errors from the equation, resulting in greater accuracy and
							higher product quality. </p>
					</div>
					<div class="col-md-6 text-sm-center service-block"> <i class="fa fa-leaf" aria-hidden="true"></i>
						<h3>Increased Efficiency</h3>
						<p>As automated visual inspection machines can catch errors faster and earlier, this means that
							feedback is much more immediate and corrections can easily be made in the up-line. This
							results in greater production line efficiency,.</p>
					</div>
					<div class="col-md-6 text-sm-center service-block"> <i class="fa fa-bell" aria-hidden="true"></i>
						<h3>Decreased Strain on Manual Inspectors</h3>
						<p>However, by augmenting a manual inspection team with automation technologies, not only can
							they perform their job much faster and easier but it will also cause them less stress and
							strain in doing so.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4"> <img src="{% static  'assets/images/apple_farm.jpg' %}" class="img-fluid" /> </div>
		</div>
		<!-- /.row -->
	</div>
</section>

<!-- About 
================================================== -->
<section class="about-sec parallax-section" id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-5 d-flex align-items-center justify-content-center">
				<h2 class="d-flex align-items-center justify-content-center"><small>Who We
						Are</small>
					<div>About</div><br>
				</h2>
			</div>
			<div class="col-md-7">
				<p>Our greatest happiness does not depend on the condition of life in which chance has placed us, but is
					always the result of a good conscience, good health, occupation, and freedom in all just pursuits.
				</p>
				<p>Being in control of your life and having realistic expectations about your day-to-day challenges are
					the keys to stress management, which is perhaps the most important ingredient to living a happy,
					healthy and rewarding life.</p>
				<p><a href="#" class="btn btn-transparent-white btn-capsul">Explore More</a></p>
			</div>
		</div>
	</div>
</section>

<!-- Footer -->
<section id="footer">
	<div class="container">
		<div class="row text-center text-xs-center text-sm-left text-md-left">
			<div class="col-xs-12 col-sm-4 col-md-4">
				<h5>Quick links</h5>
				<ul class="list-unstyled quick-links">
					<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Home</a>
					</li>
					<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>About</a>
					</li>
					<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>FAQ</a>
					</li>
					<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Get
							Started</a></li>
					<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Videos</a>
					</li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4">
				<h5>Quick links</h5>
				<ul class="list-unstyled quick-links">
					<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Home</a>
					</li>
					<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>About</a>
					</li>
					<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>FAQ</a>
					</li>
					<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Get
							Started</a></li>
					<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Videos</a>
					</li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4">
				<h5>Quick links</h5>
				<ul class="list-unstyled quick-links">
					<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Home</a>
					</li>
					<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>About</a>
					</li>
					<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>FAQ</a>
					</li>
					<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Get
							Started</a></li>
					<li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i
								class="fa fa-angle-double-right"></i>Imprint</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
				<ul class="list-unstyled list-inline social text-center">
					<li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i
								class="fa fa-facebook"></i></a></li>
					<li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i
								class="fa fa-twitter"></i></a></li>
					<li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i
								class="fa fa-instagram"></i></a></li>
					<li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i
								class="fa fa-google-plus"></i></a></li>
					<li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02" target="_blank"><i
								class="fa fa-envelope"></i></a></li>
				</ul>
			</div>
			<hr>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
				<p class="h6">© All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com"
						target="_blank">Audrey</a></p>
			</div>
			<hr>
		</div>
	</div>
</section>
<!-- ./Footer -->
{% endblock %}

{% block scripts %}
<script>
	setTimeout(function () {
		$('.message').fadeOut('fast');
	}, 5000);
</script>
{% endblock %}