{% extends "layout/base.html" %}

{% block heading_content %}
My Fruits
{% endblock heading_content %}

{% block title_content %}
Fruits
{% endblock title_content %}

{% block title_content2 %}
View Fruits
{% endblock title_content2 %}

{% block main_content %}
{% load static %}
<div class="main-content-inner">
    <div class="row">

        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">View Fruits</h4>
                    {% if messages %}
                    <div class="span12">
                        {% for message in messages %}
                        <div class="alert alert-success">
                            {{ message|safe }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="data-tables datatable-dark">
                        <table id="dataTable3" class="text-center">
                            <thead class="text-capitalize">
                                <tr>
                                    <th>Name</th>
                                    <th>Creation Date: </th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody class="text-capitalize">
                                {% for fruit in fruits %}
                                <tr>
                                    <td>{{ fruit.name }}</td>
                                    <td>{{ fruit.created_at }}</td>
                                    <td>
                                        <a href="/update_fruit/{{ fruit.id }}" class="text-info mr-2"><i
                                                class="fas fa-pencil-alt"></i> Edit</a>
                                        <a href="/delete_fruit/{{ fruit.id }}" class="text-danger ml-2"><i
                                                class="far fa-trash-alt"></i> Delete</a>
                                    </td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Dark table end -->
    </div>
</div>
{% endblock %}
{% block js_content %}
<script src="{% static  'assets/js/vendor/jquery-2.2.4.min.js' %}"></script>
{% endblock %}